<div>
    @Html.ActionLink("first - hello world", "First_HelloSignalR", new { Controller = "Home" })
    @Html.ActionLink("second - Common Service", "Second_CommonService", new { Controller = "Home" })
</div>